body,
header,
nav,
ul,
li,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background-color: rgba(184, 194, 228, 0.514);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

header {
    top: 0;
    position: sticky;

    width: 100%;
    background-color: #282828;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.containerLogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

header h1 {

    color: white;
    font-size: 1.5em;
    margin: 0 .2em;
}

header .btnMenu {
    all: unset;
    cursor: pointer;
    margin: .2em .1em;
}

header .svg {
    width: 2em;
    height: 2em;
    fill: white;

}

header .nav {
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header .nav.activo {
    /*  25% del vh(viewport width : ancho del dispositivo) */
    height: 25vh;
}

header a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

header .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


header .menu_item {
    list-style: none;
    margin: 1em 0;
}


/* TABLET HEADER*/
@media screen and (min-width:768px) and (max-width:1200px) {
    header {
        flex-direction: column;
        justify-content: space-between;
    }

    header h1 {
        font-size: 1.8em;
        margin: 0 .7em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
        margin: 1em 0;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 1.9em;
    }

    header a {
        font-size: 1.8em;
    }

    header a:hover {
        color: #c074ff;
        transition: all .5s ease;
    }

}

/* PC HEADER*/
@media (min-width:1201px) and (max-width:2000px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        font-size: 2em;
        margin: 0 .5em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 3em;
    }

    header a {
        font-size: 1.8em;
    }

    header a:hover {
        color: #c074ff;
        transition: all .5s ease;
    }

}

.menu_link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;

}

/*  MAIN - TITULO  */
#titulo {
    text-align: center;
}

#salir {
    cursor: pointer;
    border-width: 1px;
    color: white;
    width: 100px;
    padding: 7px;
    font-size: 1em;
    border-radius: 5px;
    background-color: rgb(210, 96, 104);
    transition: all 0.5s;
}

#salir:hover {

    background-color: rgb(131, 44, 57);
    transition: all 0.5s;
}

#titulo p {
    font-size: 1.5em;
}

body {
    background-image: url('../images/Juego/fondoMainJuego.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*  MAIN - FORMULARIO  */
.bordeForm {
    border: solid rgb(54, 63, 90) 2px;
    border-radius: 20px;
    background-color: rgb(137, 153, 201);
    padding: 3em;
}

.labelDif {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

#start {
    border-width: 1px;
    color: white;
    border-radius: 9px;
    font-size: 1.2em;
    font-weight: 300;
    background-image: linear-gradient(rgb(185, 100, 175), rgb(100, 100, 212));
    transition: all 0.5s;
}

#start:hover {
    font-size: 1.5em;
    background-image: linear-gradient(rgb(248, 134, 235), rgb(119, 119, 252));
    transition: all 0.5s;
}

/*  MAIN - JUEGO  */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#globos {
    visibility: hidden;
    height: 50vh;
}

.globo {
    position: absolute;
    margin: 0;
}

.globo img {
    width: 3em;
    height: 3em;
}

fieldset {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

fieldset label,
fieldset input[type='button'] {
    padding: 1em;
}

#contador,
#resultados {
    display: none;
}

/*-------Estilos del selector--------*/
input[type=range] {
    all: unset;
    height: 26px;
    appearance: none;
    margin: 10px 0;
    width: 100%;

}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #b0d5f8;
    cursor: pointer;
    appearance: none;
    margin-top: -3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #b0d5f8;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    transition: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}

input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #b0d5f8;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}

input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}

/* TABLET MENU*/
@media screen and (min-width:768px) and (max-width:1200px) {

    .menu_item {
        text-align: center;
        margin-left: 40px;
    }

    .menu_link {
        text-decoration: none;
        color: white;
        font-size: 1.9em;
    }
}

/* PC MENU*/
@media (min-width:1201px) and (max-width:2000px) {
    .menu_link {
        text-decoration: none;
        color: white;
        font-size: 2.2em;
    }
}


table {
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3em;

    border-collapse: collapse;
    border-radius: 6px;

    margin-top: 13%;
    margin-bottom: 13%;
}


td,
th {
    padding: 8px;
}

tr {
    border: solid black 1px;
}


tr:nth-child(even):hover {
    background-color: #ffd2f950;
}


tr:nth-child(odd):hover {
    background-color: #739df727;
}

td:nth-child(odd) {
    font-size: .8em;
    font-weight: bold;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(32, 44, 85, 0.836);
    color: white;
}

#foto {
    display: none;
}

/* TABLET TABLA*/
@media screen and (min-width:768px) and (max-width:1200px) {

    table {

        font-size: 2em;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    table img {
        border-radius: 20px;
    }

    #foto {
        display: block;
    }


}

/* PC TABLA*/
@media (min-width:1201px) and (max-width:2000px) {

    table {

        font-size: 2.5em;
    }

    table img {
        border-radius: 20px;
    }

    #foto {
        display: block;
    }
}

/*  Contador y resultados  */
#contador{
    border: solid rgb(25, 34, 100) 3px;
    background-image: linear-gradient(rgb(162, 59, 124),rgb(33, 106, 196));
    border-radius: 50px;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
   margin-right: 75vw;
   margin-bottom: 70vh;
   color: white;
  
}
#resultados{
    border: solid rgb(54, 63, 90) 2px;
    border-radius: 20px;
    background-color: rgb(137, 153, 201);
    padding: 3em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
}
#restart{
    border-width: 1px;
    color: rgb(54, 63, 90);
    border-radius: 8px;
    padding: 5px;
    font-size: 1em;
    font-weight: 300;
    background-color: rgb(200, 219, 235);
}
#tiempo{
    font-size: 1.3em;
    color: rgb(51, 4, 116);
}
footer {

    background-color: rgb(184, 194, 228);

    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer a {
    color: rgb(68, 93, 161);
    text-decoration: none;
}

.infoParticipantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoParticipantes a {
    margin-top: 8%;
    font-size: 1em;
    font-weight: bold;
}

.infoParticipantes a:hover {
    color: white;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    text-align: center;
    border-radius: 20px;
}

.itemInfo img {
    border-radius: 100px;
    width: 55%;
    padding-top: 1.5%;
    cursor: pointer;
}

.infoGrupo {
    margin-top: 7%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    padding: 2%;
}

.infoGrupo img {
    margin-right: 1%;
    width: 30px;
    cursor: pointer;
}

.infoGrupo a {
    font-size: 1.4em;
    font-weight: bold;
}

.infoGrupo a:hover {
    color: white;

}


.cerrarSesion{
    width: 6em;
    height: 3em;

    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(173, 41, 41);

    margin: 1em 45%;
    color: white;
    font-size: .8em;

    text-align: center;
    cursor: pointer;
}


.cerrarSesion:hover{
    background-color: rgb(207, 55, 55);

}



/* TABLET FOOTER*/
@media screen and (min-width:768px) and (max-width:1200px) {
    .infoParticipantes a {
        font-size: 1.5em;
    }

    .infoGrupo img {
        width: 45px;
    }

    .infoGrupo a {
        font-size: 2.2em;
    }

    
    .cerrarSesion{
        width: 8em;
        height: 1.5em;
        color: white;
        font-size: 2em;
        margin: 1em 35%;
    
        text-align: center;
        cursor: pointer;}
}

/* PC FOOTER*/
@media (min-width:1201px) and (max-width:2000px) {


    .infoParticipantes a {
        font-size: 2.3em;
    }

    .itemInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-top: 5%;
        text-align: center;
        border-radius: 20px;
    }

    .itemInfo img {
        border-radius: 100px;
        width: 100%;
        padding-top: 1.7%;

    }

    .infoGrupo a {
        font-size: 2.8em;
        font-weight: bold;
    }

    .infoGrupo img {
        width: 60px;
    }
    .cerrarSesion{
        width: 10em;
        height: 1.7em;
        color: white;
        font-size: 2em;
    
        margin: 1em 35%;
    
        text-align: center;
        cursor: pointer;
    }
    
}