* {
    margin: 0;
    padding: 0;
}

.pantalla {
    background: url(fondo.jpg);
    background-size: cover;
}

.container {
    top: 70px;
    position: relative;
    margin: auto;
    background-color: rgb(235, 235, 235);
    width: 550px;
    height: 607px;
    padding: 10px;
    border: 5px solid #000;
    border-radius: 20px;
    box-shadow: 7px 7px;
}

.pantalla {
    overflow: hidden;
    background-color: rgb(204, 204, 204);
    height: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
}

img {
    width: 15px;
    height: 30px;
}

#lul {
    margin-top: 217px;
}

.botones {
    display: flex;
    flex-direction: row;
    border: solid 1px #000;
    border-radius: 10px;
    margin-top: 10px;
    height: 253px;
    width: 550px;
}

.cruceta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding-top: 15px;
}

.fila {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

#arriba {
    rotate: 90deg;
    box-shadow: 3px -3px rgb(73, 73, 73);
    border-radius: 25px;
}

.saltar {
    animation: a 0.7s ease-in-out;
}

#abajo {
    rotate: 270deg;
    box-shadow: -3px 3px rgb(73, 73, 73);
    border-radius: 25px;
    margin-bottom: 5%;
}

#derecha {
    rotate: 180deg;
    box-shadow: -3px -3px rgb(73, 73, 73);
    border-radius: 25px;
}

#izquierda {
    border-radius: 25px;
    box-shadow: 3px 3px rgb(73, 73, 73);
}

#arriba:active {
    box-shadow: 3px -3px rgb(255, 255, 255);
    transform: translate(2px, -2px);
}

#derecha:active {
    box-shadow: 3px -3px rgb(255, 255, 255);
    transform: translate(-2px, -2px);
}

#abajo:active {
    box-shadow: 3px -3px rgb(255, 255, 255);
    transform: translate(-2px, 2px);
}

#izquierda:active {
    box-shadow: 3px -3px rgb(255, 255, 255);
    transform: translate(2px, 2px);
}


.izquierdaA {
    animation: iz 0.01s linear;
}

.izquierdaA1 {
    animation: iz1 3s linear forwards;
}

.derechaA1 {
    animation: dere1 2.5s linear forwards;
}

.abajo {
    animation: abajo 1s ease-in forwards;
}

.flotar {
    animation: flotar 0.8s infinite;
}

#arriba,
#izquierda,
#derecha,
#abajo {
    width: 70px;
    height: 70px;
}

#a,
#b,
#c {
    box-shadow: 2px 2px #000;
}

#a:active,
#b:active,
#c:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px#fff;
}

#a,
#b {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 0.5px solid #000;
}

#c {
    margin-top: 75px;
    margin-left: -77px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 0.5px solid #000;
}

@keyframes a {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes iz1 {
    0% {
        transform: translateX(0) rotateY(180deg);
    }

    30% {
        transform: translateX(-85px) translateX(-5px) rotateY(180deg);
    }

    40% {
        transform: translateX(-100px) translateY(-5px) rotateY(180deg);
    }

    60% {
        transform: translateX(-160px) translateY(-5px) rotateY(180deg);
    }

    80% {
        transform: translateX(-162px) translateY(-45px) rotateY(180deg);
    }

    90% {
        transform: translateX(-195px) translateY(-45px) rotateY(180deg);
    }

    100% {
        transform: translateX(-195px) translateY(-45px) rotate(270deg);
    }


}

@keyframes dere1 {

    0% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(84px);
    }

    40% {
        transform: translateY(-25px) translateX(115px);
    }

    100% {
        transform: translateY(-25px) translateX(175px);
    }
}

@keyframes abajo {

    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-15px) translateX(10px);
    }

    60% {
        transform: translateY(55px) translateX(15px);
    }

    100% {
        transform: translateY(45px) rotate(-90deg);
    }
}

@keyframes flotar {
    0% {
        transform: translateY(45px) rotate(-90deg);
    }

    50% {
        transform: translateY(50px) rotate(-90deg);
    }

    100% {
        transform: translateY(45px) rotate(-90deg);
    }
}