.cabecera {
    background-color: #000;
    color: #fff;
    max-width: 100%;
    text-align: center;
    height: 120%;
}

nav {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    padding-bottom: 3%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;

}

hr {
    margin-left: 2%;
    margin-right: 2%;
}

p {
    padding: 1%;
    text-align: justify;
    margin-bottom: 0%;
}